extends layout

block subhead
  .mission
    p.lead
      | 2013 Imperial College Computing Student Workshop
      br
      | September 26—27, 2013 • London, United Kingdom

block content
  .node!= page.html
