!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='/2013/css/bootstrap.min.css')
      link(rel='stylesheet', href='/2013/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/2013/css/app.css')
  body
    nav.navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          include menu
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/2013/', title=locals.name, rel='home')= locals.name
          .nav-collapse.collapse
            ul.nav
              +menu('Call for Papers', '/2013/cfp.html')
              +menu('Programme', '/2013/programme.html')
              +menu('Keynotes', '/2013/keynotes.html')
              +menu('Location', '/2013/location.html')
              +menu('Organisation', '/2013/organisation.html')
    .container
      header.subhead
        block subhead
          a(href=locals.url)
            img(alt=locals.name, src='/2013/img/logo.jpg')
      section.content
        block content
    footer.footer
      div.container
        block footer
          p Designed by 
          p Copyright &copy; 2012 
            a(href='http://www3.imperial.ac.uk/') Imperial College London
            , 
            a(href='http://www3.imperial.ac.uk/computing/') Department of Computing
            Research Students
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/2013/js/bootstrap.min.js')
    script(src='/2013/js/app.js')
    include analytics
    +analytics('UA-22691589-4')
